@media (min-width:992px){
*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(255, 219, 17);
    display: flex;
    flex-direction: row;
}
.red{
    width: 20px;
    margin-left: 5px;
    border-radius: 50px;
    vertical-align: middle;
}
#redes{
    margin-left: 50%;
}
.correo{
    margin-left: 150px;
}
.telefono{
    margin-left: 20px;
}
nav{
    background-color:rgb(255, 219, 17);
    display: flex;
    margin-top: 10px;
}
.sticky{
    position: sticky;
    top: 0;
}
.logo{
    width: 500px;
    margin-left: 7%;
    border: solid 1px;
}
.enlaces{
    padding-left: 30%;  
    padding-top: 50px; 
}
a{
    margin-bottom: 20px;
    margin-left: 5px;
    color: black;
}
#lupa{
    width: 15px;
}
.slider{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 320%;
    animation: cambio 20s infinite;
}
.slider li{
    width: 100%;
    height: 100%;
    list-style: none;
}
li img{
    width: 1000px;
    height: 500px;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -110%;}
    45%{margin-left: -110%;}

    50%{margin-left: -220%;}
    100%{margin-left: -220%;}
}
h1{
    text-align: center;
    margin-top: 30px;
}
#mensaje{
    margin: 0 auto;
    align-self: center;
    border: solid 1px;
    text-align: center;
    width: 800px;
}
#gridcontainer{
    font-size: 12px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto;
    grid-template-areas:
    "n1 n2 n3"
    "n4 n5 n6";
    justify-content: space-around;
}
#gridcontainer article{
    margin-left: 70px;
}
#gridcontainer img{
    width: 250px;
    border: solid 1px;
}
#n1{
    grid-area: n1;
}
#n2{
    grid-area: n2;
}
#n3{
    grid-area: n3;
}
#n4{
    grid-area: n4;
}
#n5{
    grid-area: n5;
}
#n6{
    grid-area: n6;
}
#boton{
    text-align: center;
}
button{
    margin-top: 30px;
    background-color: rgb(255, 219, 17);
    cursor: pointer;
}
#flex{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
#flex img{
    height: 200px;
    border: solid 1px;
}
.wrap{
    margin: 0 auto;
    width: 1000px;
    height: 130px;
    display: flex;
    justify-content: center;
    background: url(/img/fondo_gris.jpg);
    background-position: center;
}
.wrap-texto{
    color: #fff;
    text-align: center;
    width: 50%;
}
.wrap-texto a{
    color: #fff;
}
#gridcontainer2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "a1 a3"
    "a2 a4";
    justify-content: space-around;
}
#a1{
    grid-area: a1;
}
#a2{
    grid-area: a2;
}
#a3{
    grid-area: a3;
}
#a4{
    grid-area: a4;
}
footer{
    display: flex;
    height: 300px;
    background-color: rgb(255, 219, 17);
    padding-top: 50px; 
    justify-content: space-around;
}
#footer{
display: flex;
flex-direction: column;
}
#footer img{
    margin-top: 20px;
    height: 100px;
}
#boton2{
    visibility: hidden;
    text-align: center;
}
#boton3{
    visibility: hidden;
    text-align: center;
}
}
@media (max-width:992px){
    *{
        font-family: 'Roboto', sans-serif;
    }
    header{
        background-color: rgb(255, 219, 17);
        display: flex;
        flex-direction: row;
        font-size: 7px;
    }
    .red{
        width: 10px;
        margin-left: 10px;
        border-radius: 50px;
        vertical-align: middle;
    }
    #redes{
        margin-left: 50%;
    }
    .correo{
        margin-left: 150px;
    }
    .telefono{
        margin-left: 15px;
    }
    nav{
        background-color:rgb(255, 219, 17);
        display: flex;
        margin-top: 10px;
    }
    .sticky{
        position: sticky;
        top: 0;
    }
    .logo{
        width: 300px;
        margin-left: 7%;
        border: solid 1px;
    }
    .enlaces{
        visibility: hidden;
        padding-left: 30%;  
        padding-top: 50px; 
    }
    a{
        margin-bottom: 20px;
        margin-left: 5px;
        color: black;
    }
    #lupa{
        width: 15px;
    }
    .slider{
        width: 90%;
        margin: auto;
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 320%;
        animation: cambio 20s infinite;
    }
    .slider li{
        width: 100%;
        height: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
        height: 300px;
    }
    @keyframes cambio{
        0% {margin-left: 0;}
        20%{margin-left: 0;}
    
        25%{margin-left: -110%;}
        45%{margin-left: -110%;}
    
        50%{margin-left: -220%;}
        100%{margin-left: -220%;}
    }
    h1{
        text-align: center;
        margin-top: 30px;
    }
    #mensaje{
        margin: 0 auto;
        align-self: center;
        border: solid 1px;
        text-align: center;
        width: 800px;
    }
    #gridcontainer{
        margin-left: 270px;
        font-size: 12px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "n1"
        "n2";
        justify-content: space-around;
    }
    #gridcontainer article{
        margin-left: 70px;
    }
    #gridcontainer img{
        width: 250px;
        border: solid 1px;
    }
    #n1{
        grid-area: n1;
    }
    #n2{
        grid-area: n2;
    }
    #n3{
        visibility: hidden;
        grid-area: n3;
    }
    #n4{
        visibility: hidden;
        grid-area: n4;
    }
    #n5{
        visibility: hidden;
        grid-area: n5;
    }
    #n6{
        visibility: hidden;
        grid-area: n6;
    }
    #boton{
        text-align: center;
    }
    button{
        background-color: rgb(255, 219, 17);
        cursor: pointer;
    }
    #flex{
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
    }
    #flex img{
        height: 200px;
        border: solid 1px;
        visibility: hidden;
    }
    .wrap{
        margin: 0 auto;
        width: 1000px;
        height: 130px;
        display: flex;
        justify-content: center;
        background: url(/img/fondo_gris.jpg);
        background-position: center;
    }
    .wrap-texto{
        color: #fff;
        text-align: center;
        width: 50%;
    }
    .wrap-texto a{
        color: #fff;
    }
    #gridcontainer2{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "a1 a3"
        "a2 a4";
        justify-content: space-around;
    }
    #a1{
        visibility: hidden;
        grid-area: a1;
    }
    #a2{
        visibility: hidden;
        grid-area: a2;
    }
    #a3{
        visibility: hidden;
        grid-area: a3;
    }
    #a4{
        visibility: hidden;
        grid-area: a4;
    }
    footer{
        display: flex;
        height: 200px;
        background-color: rgb(255, 219, 17);
        padding-top: 50px; 
        justify-content: space-around;
    }
    #footer{
    display: flex;
    flex-direction: column;
    }
    #footer img{
        margin-top: 20px;
        height: 10px;
        visibility:hidden;
    }
    #boton2{
        text-align: center;
    }
    #boton3{
        text-align: center;
    }
}